*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    color: white;
    height: 100vh;
    font-family: 'Poppins';
}


.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.container{
    position: absolute;
    z-index: 1;
    width: 95%;
    height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;
}
.content{}

h1{
    font-family: 'Press Start 2P';
    text-align: center;
}